name: Tests

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  workflow_dispatch:

jobs:
  unit_tests:
    name: unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rev: [nightly, stable, v0.10.4]
        include:
          - os: ubuntu-latest
            install-rg: sudo apt-get update && sudo apt-get install -y ripgrep
          - os: macos-latest
            install-rg: brew update && brew install ripgrep
          - os: windows-latest
            install-rg: choco install ripgrep

    steps:
      - uses: actions/checkout@v5

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.rev }}

      - name: Prepare
        run: |
          ${{ matrix.install-rg }}
          rg --version

          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim ../plenary.nvim
          git clone --depth 1 https://github.com/nvim-tree/nvim-web-devicons ../nvim-web-devicons

      - name: Run tests
        run: |
          nvim --version
          make test
